<div class="modal" tabindex="-1" role="dialog" id="closedModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div clas="row">
                        <br>Kedves Vendégeink!
                        <br class="p2"></br>
                        Tekintettel a kialakult helyzetre, éttermünk határozatlan időre bezárta kapuit!
                        Megértésüket köszönjük!
                        <br class="p2"></br>
                        Mindenkinek jó egészséget kívánunk!
                        <br class="p2"></br>
                        Stég Team</p>
                </div>
                <hr>
                <div clas="row">
                    <br>Dear customers!
                    <br class="p2"></br>
                    Due to the current situation of COVID-19, our restaurant is closed indefinitely. Thank you for your understanding.

                    <br class="p2"></br>
                    We wish you good health!
                    <br class="p2"></br>
                    Stég Team</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vissza a weboldalra</button>
            </div>
        </div>
    </div>
</div>