<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <title>Stég Pizzéria</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/admin/eloetel">Stég Pizzéria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Étlap
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="\admin\eloetel">Előételek</a>
                    <a class="dropdown-item" href="\admin\leves">Levesek</a>
                    <a class="dropdown-item" href="\admin\salata">Saláták</a>
                    <a class="dropdown-item" href="\admin\roston">Rostonsült grillételek</a>
                    <a class="dropdown-item" href="\admin\frissen">Frissensültek</a>
                    <a class="dropdown-item" href="\admin\hal">Halételek</a>
                    <a class="dropdown-item" href="\admin\koret">Köretek</a>
                    <a class="dropdown-item" href="\admin\olaszos">Olaszos tésztafélék</a>
                    <a class="dropdown-item" href="\admin\hazajanlat">Ház ajánlata</a>
                    <a class="dropdown-item" href="\admin\pizza">Pizzák</a>
                    <a class="dropdown-item" href="\admin\desszert">Desszertek</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add">Új étel felvétele</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Kilépés</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Jelszó változtatás
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Új jelszó megadása</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <input class="form-control" type="password">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                <button type="button" class="btn btn-primary">Mentés</button>
            </div>
        </div>
    </div>
</div>
