<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <title>Stég Pizzéria</title>
</head>
<body>
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>
<nav class="navbar navbar-expand-lg">
    <!-- Just an image -->
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="images/horgony.png" width="30" height="30" alt="">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars color"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto d">
            <li class="nav-item">
                <a class="nav-link down" href="#etlap">speisekarte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link down" href="#rolunk">über</a>
            </li>
            <li class="nav-item">
                <a class="nav-link down" href="#kapcsolat">kontakt</a>
            </li>
        </ul>
        <a href="#">
            <i class="fas fa-sign-in-alt" data-toggle="modal" data-target="#loginscreen"></i>
        </a>

        <span class="huen"><a href="\login">HU</a> | <a href="\english">EN</a> | <b>DE</b></span>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="loginscreen" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Log in (only for administrator)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/login">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="user">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input  type="password" class="form-control" id="message-text" name="pw">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" width="100%" id="front" src="images/bh.jpg">
            <div class="carousel-caption d-none d-md-block carousel-caption_up">
                <img src="images/logo.png" width="35%">
            </div>
            <div class="carousel-caption d-md-none carousel-caption_down">
                <img src="images/logo.png" width="60%">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row blokk" id="etlap">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <h1 class="maintitle">Speisekarte</h1>

            <h4 class="picmenu"><a href="menu.pdf"><i class="fas fa-utensils maintitle"></i>Speisekarte mit Bilder</a></h4>
        </div>
        <div class="menu">
            <a href="#eloetel">Vorspeisen</a> | <a href="#leves">Suppen</a> | <a href="#salata">Salaten</a> |
            <a href="#roston">Grillspeise</a> | <a href="#frissen">Frischgebratene</a> |
            <a href="#hal">Fisch gerichte</a> | <a href="#koret">Beilage</a> |
            <a href="#olaszos">Nudelgerichte</a> | <a href="#hazajanlat">Wir empfehlen</a> |
            <a href="#pizza">Pizza</a> | <a href="#desszert">Dessert</a>
        </div>
    </div>
</div>
</div>
<% include menu_d %>
<div class="blokk" id="rolunk">
    <div class="fix">
        <div class="parallax"><h1 class="caption">Über uns</h1></div>
    </div>
</div>
<div class="container about">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
            <div class="aboutus">
                Im Herzen von Tihany, am Fuße der Abtei, begrüßen wir unsere lieben Gäste in unserem familiären kleinen „Stég“ Restaurant, welches sich nur ein paar Gehminuten von der Hauptstraße entfernt befindet. Sie können sich bei uns Innen und Außen, in unserem gemütlichen Garten ausruhen, während Sie sich aus unserem Sortiment von verschiedenen Bier vom Fass, köstliche lokale Weine und frisch gepresste Limonaden erfrischen. Darüber hinaus erwarten Sie Grillgerichte, italienische Pasta, frische Salatspezialitäten und hausgemachte Pizza im Ofen gebacken.
            </div>
        </div>
    </div>
</div>
<div class="container container_ blokk">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/1.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/5.JPG">
            <img width="100%" class="photos2 h_gray" src="images/gallery/4.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/2.JPG">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 photos">
            <img width="100%" class="h_gray" src="images/gallery/6.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="h_gray" src="images/gallery/3.JPG">
        </div>
    </div>
</div>

<div class="container blokk contact" id="kapcsolat" align="left">
    <h1 class="maintitle">Kontakt</h1>
    <div class="d-none d-lg-block">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th><div class="c_title">Adresse:</div></th>
                    <th><div class="c_title">Öffnungszeiten:</div></th>
                    <th><div class="c_title">Kontakt:</div></th>
                    <th><div class="c_title">Zahlunsarten:</div></th>
                    <th><div class="c_title">Heimbeförderung:</div></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tihany, <br>Kossuth Lajos utca 18.</td>
                    <td>Von März bis November, <br>täglich <br>10:00 - 21:00</td>
                    <td>info@stegpizzeria.hu, <br>+36 87 438 127</td>
                    <td>Barzahlung, <br>Zahlungsarten, <br>Kreditkarte</td>
                    <td>Nur in Tihany, <br>Kostenlos während <br>der Sommersaison</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row d-lg-none">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row"><div class="c_title">Adresse:</div></th>
                <td>Tihany, Kossuth Lajos utca 18.</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Öffnungszeiten:</div></th>
                <td>Von März bis November, täglich 10:00 - 21:00</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Kontakt:</div></th>
                <td>info@stegpizzeria.hu, +36 87 438 127</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Zahlunsarten:</div></th>
                <td>Barzahlung, <br>Zahlungsarten, <br>Kreditkarte</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Heimbeförderung:</div></th>
                <td>Nur in Tihany, Kostenlos während der Sommersaison</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" align="center">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" >
            <a target="_blank" href="https://www.facebook.com/stegpizzeriatihany/"><img width="30px" src="images/Fb.png"></a>
        </div>
    </div>
</div>

<div id="map"></div>
<div class="footer" align="center">
    © 2018 TÓTH JUDIT
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>

<script>
    $(document).ready(function(){
        /* scroll menu */
        $('a').on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){
                    window.location.hash = hash;
                });
            }
        });
        /* scroll to the top icon */
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {
                $('#return-to-top').fadeIn(200);
            } else {
                $('#return-to-top').fadeOut(200);
            }
        });
        /* scroll to the top click */
        $('#return-to-top').click(function() {
            $('body,html').animate({
                scrollTop : 0
            }, 500);
        });
    });

    function initMap() {
        var uluru = {lat: 46.9135, lng: 17.8885};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy544iCPzaulf0nJ8_E7ILUNt9n2ZXI6M&callback=initMap">
</script>
</body>
</html>


