<% include header_client %>
<body>
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="images/horgony.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars color"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link down" href="#aktualis">aktuális</a>
            </li>
            <li class="nav-item">
                <a class="nav-link down" href="#etlap">étlap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link down" href="#rolunk">rólunk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link down" href="#kapcsolat">kapcsolat</a>
            </li>
        </ul>
        <span class="navbar-text huen">
      <b> HU</b> | <a href="\english">EN</a> | <a href="\german">DE</a>
    </span>
        <a href="#">
            <i class="fas fa-sign-in-alt" data-toggle="modal" data-target="#loginscreen"></i>
        </a>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginscreen" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Bejelentkezés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/login">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Felhasználónév:</label>
                        <input type="text" class="form-control" id="recipient-name" name="user">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Jelszó:</label>
                        <input  type="password" class="form-control" id="message-text" name="pw">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                    <button type="submit" class="btn btn-primary">Belépés</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" width="100%" id="front" src="images/bh.jpg">
            <div class="carousel-caption d-none d-md-block carousel-caption_up">
                <img src="images/logo.png" width="35%">
            </div>
            <div class="carousel-caption d-md-none carousel-caption_down">
                <img src="images/logo.png" width="60%">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row blokk" id="aktualis">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" align="center">
            <h4 class="maintitle d-sm-none">Nyitvatartás és házhozszállítás</h4>
            <h1 class="maintitle d-none d-sm-block">Nyitvatartás és házhozszállítás</h1>
            <h5>2021. május 1-jétől<br/>
                a házozszállítás mellett éttermünk is nyitva tart<br/>
                minden nap, 11:00-tól 21:00-ig.</h5>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" align="center">
            <h5>Rendelésfelvétel 10:30 és 20:30 között, a <br>
                <b>+36 30 9225 109<br> +36 87 438 127</b><br>
                telefonszámokon lehetséges.
            </h5>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 blokk">
            <table class="table myTable">
                <thead>
                <th>Település</th>
                <th>Kiszállítás díja</th>
                </thead>
                <tbody>
                <tr>
                    <td>Tihany</td>
                    <td>ingyenes</td>
                </tr>
                <tr>
                    <td>Aszófő</td>
                    <td>ingyenes</td>
                </tr>
                <tr>
                    <td>Balatonfüred</td>
                    <td>800 HUF</td>
                </tr>
                <tr>
                    <td>Örvényes</td>
                    <td>800 HUF</td>
                </tr>
                <tr>
                    <td>Balatonudvari</td>
                    <td>800 HUF</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 blokk" align="center">
            <i class="fas fa-exclamation-circle"></i>
            A futárnál a készpénzes fizetés mellett bankkártyás fizetés is lehetséges.<br>
            Az ételek elkészítése, csomagolása és kiszállítása során kiemelt hangsúlyt fektetünk a biztonságos körülmények megteremtésére.
        </div>
    </div>

    <div class="row blokk" id="etlap">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" align="center">
            <h1 class="caption">Étlap (elvitel, házhozszállítás)</h1>
        </div>
    </div>
</div>
<div class="row blokk">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4" align="center">
        <img src="images/menu1.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4" align="center">
        <img src="images/menu2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4" align="center">
        <img src="images/menu3.jpeg" class="d-block w-100" alt="...">
    </div>
    <!--
            <div class="menu">
                <a href="#eloetel"> Eőételek</a> | <a href="#leves">Levesek</a> | <a href="#salata">Saláták</a> |
                <a href="#roston">Roston sült grillételek</a> | <a href="#frissen">Frissensültek</a> |
                <a href="#hal">Halételek</a> | <a href="#koret">Köretek</a> |
                <a href="#olaszos">Olaszos tésztafélék</a> | <a href="#hazajanlat">Ház ajánlata</a> |
                <a href="#pizza">Pizzák</a> | <a href="#desszert">Desszertek</a>
            </div>
    -->
</div>
<div class="container">
    <div class="row blokk" id="aktualis">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" align="center">
            <h4 class="maintitle d-sm-none">Étlap</h4>
            <h1 class="maintitle d-none d-sm-block">Étlap</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 blokk" align="center">

            <a href="etlap_nyar_2021.pdf">Tovább az étteremben elérhető étlapra...</a>

        </div>
    </div>
</div>

<div class="blokk" id="rolunk">
    <div class="fix">
        <div class="parallax"><h1 class="caption">Rólunk</h1></div>
    </div>
</div>
<div class="container about">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
            <div class="aboutus">
                Tihany szívében, az Apátság lábánál lévő családias kis vendéglőnkbe várunk szeretettel minden kedves vendéget.
                Hangulatos kert helységünk a főutcáról nyílik, kínálatunk közt szerepelnek különféle csapolt sörök, finom helyi borok,
                frissen facsart gyümölcsből limonádék. Ezen kívül roston sült grill ételek, frissensültek, olaszos tészták, friss saláta különlegességek,
                illetve a házi készítésű, kemencében sült pizzák várják az idelátogatókat.
            </div>
        </div>
    </div>
</div>
<div class="container container_ blokk">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/1.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/5.JPG">
            <img width="100%" class="photos2 h_gray" src="images/gallery/4.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/2.JPG">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 photos">
            <img width="100%" class="h_gray" src="images/gallery/6.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="h_gray" src="images/gallery/3.JPG">
        </div>
    </div>
</div>

<div class="container blokk contact" id="kapcsolat" align="left">
    <h1 class="maintitle"> Kapcsolat </h1>
    <div class="d-none d-lg-block">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th><div class="c_title">Cím:</div></th>
                    <th><div class="c_title">Nyitvatartás:</div></th>
                    <th><div class="c_title">Elérhetőségek:</div></th>
                    <th><div class="c_title">Fizetőeszközök:</div></th>
                    <th><div class="c_title">Házhozszállítás:</div></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tihany, <br>Kossuth Lajos utca 18.</td>
                    <td>
                        Minden nap, 11:00 és 21:00 között.
                    </td>
                    <td>tihany@stegpizzeria.hu, <br>+36 87 438 127</td>
                    <td>készpénz,<br>bankkártya,<br/>SZÉP kártya</td>
                    <td>Tihany és Aszófő területén ingyen,<br>rendelésfelvétel 10:30 és 19:30 között.<br><a href="#aktualis">Tovább...</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row d-lg-none">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row"><div class="c_title">Cím:</div></th>
                <td>Tihany, Kossuth Lajos utca 18.</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Nyitvatartás:</div></th>
                <td>
                    Minden nap, 11:00 és 21:00 között.
                </td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Elérhetőségek:</div></th>
                <td>tihany@stegpizzeria.hu, +36 87 438 127</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Fizetőeszközök:</div></th>
                <td>készpénz, bankkártya, SZÉP kártya</td>
            </tr>
            <tr>
                <th scope="row"><div class="c_title">Házhozszállítás:</div></th>
                <td>Tihany és Aszófő területén ingyen,<br>rendelésfelvétel 10:30 és 19:30 között.<br><a href="#aktualis">Tovább...</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" align="center">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" >
            <a target="_blank" href="https://www.facebook.com/stegpizzeriatihany/"><img width="30px" src="images/Fb.png"></a>
        </div>
    </div>
</div>

<div id="map"></div>
<div class="footer" align="center">
    © 2018 TÓTH JUDIT
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        /* scroll menu */
        $('a').on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){
                    window.location.hash = hash;
                });
            }
        });
        /* scroll to the top icon */
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {
                $('#return-to-top').fadeIn(200);
            } else {
                $('#return-to-top').fadeOut(200);
            }
        });
        /* scroll to the top click */
        $('#return-to-top').click(function() {
            $('body,html').animate({
                scrollTop : 0
            }, 500);
        });
    });

    function initMap() {
        var uluru = {lat: 46.9135, lng: 17.8885};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src=<%= googleApi %>></script>
</body>
</body>
</html>
