@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
    background-color: #2a2525;
    background-image: url("images/tegla.png");
    color: white;
    font-family: 'Raleway', sans-serif;
}

.color{ color: white; }

.maintitle{
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.cathegory{
    text-align: left;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
}

.food_title{
    text-transform: uppercase;
}

.description{
    font-size: 14px;
    font-style: italic;
}

.picmenu{
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
}

.blokk{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav {
    width: 170px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: antiquewhite;
    text-decoration: none;
}

a:active {
    color: white;
}

.menu {
    text-align: center;
    letter-spacing: 5px;
}

.huen{
    padding-left: 40px;
    padding-right: 30px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.modal{
    color: black;
}

.light {
    width: 100%;
    background-color: #ece7e1;
    color: #282828;
}

.contact{
    letter-spacing: 1px;
    font-size: 13px;
}

.c_title{
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
}

.carousel-caption_down {
    bottom: 4%;
    font-family: 'Rock Salt', cursive;
}

.carousel-caption_up {
    bottom: 23%;
    font-family: 'Rock Salt', cursive;
}

#front {
    opacity: 0.5;
}

.photos {
    padding-left: 2px;
    padding-right: 2px;
}

.photos2 {
    padding-bottom: 4px;
}

.container_ {
    max-width: inherit;
}

/* Gray Scale */
.h_gray{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.h_gray:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.nav-link{
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 100;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #282828;
    opacity: 0.2;
    font-size: 12px;
}

#return-to-top {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top .fa-arrow-up {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.table td, .table th {
    padding: 0.4rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.aboutus{
    text-align: justify;
}

.parallax {
    /* The image used */
    background-image: url("images/panorama.jpg");

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
}

.fix{
    position: relative;
}

